<div>
    <img  [src]=myimage class="bg-img">
  </div>
  <div class="profile-picture"  #home routerLink="../" routerLinkActive="active">
    <img [src]="myicon" alt="Description de l'image">
   </div>
   <div class="profile-picturee" (click)="reloadPage()">
    <img [src]="reload" alt="Description de l'image">
   </div>
  <h2 class="titre">Solving a linear system</h2>
    <div>
      <form [formGroup]="matrixForm" >
        <label for="rows" class="titre1">Number of Rows/Columns:</label>
        <input type="number" id="rows" formControlName="rows" class="form-control" placeholder="Nombre of Rows">
        <input type="number" #in id="columns" formControlName="columns" class="form-control2"  placeholder="Nombre of Columns">
        <input type="number" id="mA" formControlName="mA" class="form-control" placeholder="Largeur de bande A" *ngIf="selectedMatrixA=='Matrice Bande' || selectedMatrixA=='Matrice demi-bande inferieur' || selectedMatrixA=='Matrice demi-bande superieur' "  >
        <input type="number" id="maxiter" formControlName="maxiter" class="form-control" placeholder="Nombre d'itération" *ngIf="(selectedMatrixA=='Matrice Dense' && selectedMatrixB=='Méthode de Jacobi') || (selectedMatrixA=='Matrice Dense' && selectedMatrixB=='Méthode de Gauss-Seidel')"  >
    
        <!-- <button mat-button type="submit" [disabled]="matrixForm.invalid" (click)="generateMatrixAndVector()" class="button1"> Matrice dense</button> -->
        <!-- <button mat-button type="submit" [disabled]="matrixForm.invalid" class="button2" (click)="generateMatrixAndVector()">Matrice</button>
        <button mat-button type="submit" [disabled]="matrixForm.invalid" class="button3" (click)="aff()">Matrice 2</button>
        <button mat-button type="submit" [disabled]="matrixForm.invalid" class="button4">Matrice 3</button> -->
      </form>
      <!-- <div class="choixx" *ngIf="matrixForm && matrixForm.get('rows')?.value > 0 && matrixForm.get('columns')?.value > 0">
    <select class="choix1">
        <option disabled selected>Sélectionnez une matrice</option>

        <optgroup label="Direct - Matrice Dense">
            <option>Élément 2.1</option>
            <option>Élément 2.2</option>
            <option>Élément 2.3</option>
        </optgroup>

        <optgroup label="Direct - Matrice Bande">
            <option>Élément 2.1</option>
            <option>Élément 2.2</option>
            <option>Élément 2.3</option>
        </optgroup>

        <optgroup label="Itérative">
            <option>Élément 2.1</option>
            <option>Élément 2.2</option>
            <option>Élément 2.3</option>
        </optgroup>

        <optgroup label="last">
            <option>Élément 3.1</option>
        </optgroup>
    </select>
</div> -->
<div class="choixx" *ngIf="matrixForm.get('rows')?.value >0 && matrixForm.get('columns')?.value >0">
    <select id="matriceList2" name="matriceList2"  [(ngModel)]="selectedMatrixA" (change)="onMatrixASelectionChange()" class="choix2" >
        <option value="" disabled selected>Select a Matrix</option>
        <!-- <option value=""*ngIf="selectedMatrixA == 'Matrice Dense'|| selectedMatrixA =='Matrice Bande'">Méthodes d’élimination de Gauss</option>
        <option value=""*ngIf="selectedMatrixA == 'Matrice Dense'|| selectedMatrixA =='Matrice Bande'">Décomposition LU</option>
        <option value=""*ngIf="selectedMatrixA == 'Matrice Dense'|| selectedMatrixA =='Matrice Bande'">Elimination de Gauss-Jordan</option>
        <option value=""*ngIf="selectedMatrixA == 'Matrice Dense'|| selectedMatrixA =='Matrice Bande'">Méthode d’élimination de Gauss avec pivotage partiel</option>
        <option value=""*ngIf="selectedMatrixA == 'Matrice Dense'|| selectedMatrixA =='Matrice Bande'">Méthode de Cholesky</option>
        <option value=""*ngIf="selectedMatrixA == 'Matrice Dense'">Méthode de Jacobi</option>
        <option value=""*ngIf="selectedMatrixA == 'Matrice Dense'">Méthode de Gauss-Seidel</option> -->
        <optgroup label="Matrices">
            <option>Matrice Dense</option>
            <option>Matrice Bande</option>
        </optgroup>
        <optgroup label="Résolution d’un système linéaire triangulaire">
          <option >Matrice triangulaire inferieure</option>
          <option >Matrice triangulaire superieure</option>
          <option >Matrice demi-bande inferieur</option>
          <option >Matrice demi-bande superieur</option>
          
      </optgroup>
        
      </select>
  
      <select id="matriceList1" name="matriceList1" [(ngModel)]="selectedMatrixB" (change)="onMatrixASelectionChange()" class="choix1" *ngIf="selectedMatrixA !='' && selectedMatrixA !='Matrice demi-bande inferieur' && selectedMatrixA !='Matrice triangulaire inferieure' && selectedMatrixA !='Matrice triangulaire superieure' && selectedMatrixA !='Matrice demi-bande superieur' ">
        <option value="" disabled selected>Select a Method</option>
        <optgroup label="Direct">
          <!-- <option>Matrice Dense</option>
          <option>Matrice Bande</option> -->
        <option *ngIf="selectedMatrixA == 'Matrice Dense'|| selectedMatrixA =='Matrice Bande'">Méthodes d’élimination de Gauss</option>
        <option *ngIf="selectedMatrixA == 'Matrice Dense'|| selectedMatrixA =='Matrice Bande'">Décomposition LU</option>
        <option *ngIf="selectedMatrixA == 'Matrice Dense'|| selectedMatrixA =='Matrice Bande'">Elimination de Gauss-Jordan</option>
        <option *ngIf="selectedMatrixA == 'Matrice Dense'|| selectedMatrixA =='Matrice Bande'">Méthode d’élimination de Gauss avec pivotage partiel</option>
        <option *ngIf="selectedMatrixA == 'Matrice Dense'|| selectedMatrixA =='Matrice Bande'">Méthode de Cholesky</option>
  
      </optgroup>
      <optgroup label="Itérative" *ngIf="selectedMatrixA =='Matrice Dense'">
          <!-- <option>Matrice Dense</option> -->
          <option >Méthode de Jacobi</option>
        <option >Méthode de Gauss-Seidel</option>
          
      </optgroup>
      
  
      </select>
</div>

      <!-- <div class="choixx" *ngIf="matrixForm.get('rows')?.value >0 && matrixForm.get('columns')?.value >0">
        <select id="matriceList1" name="matriceList1" [(ngModel)]="selectedMatrixA" (change)="onMatrixASelectionChange()" class="choix1">
          <option value="" disabled selected>Sélectionnez une matrice</option>
          <option *ngFor="let matrix of matricesA" [value]="matrix.name">{{ matrix.name }}</option>
        </select>
    </div> -->
    <div class="cont">
      <div *ngIf="matrixA.length > 0 && vectorB.length > 0" class="mat">
        <h3 class="tit_mata">Matrix A</h3>
        <div class="cont1" style="display: none;" #id_denseA>
          <table class="mata">
            <tr *ngFor="let row of matrixA; let i = index">
              <td *ngFor="let cell of matrixA; let j = index">
                <input type="number" [(ngModel)]="matrixA[i][j]" class="inp" >
              </td>
            </tr>
          </table>
        </div>
        <!-- matrice triangulaire sup-->
        <div class="cont1" style="display: none;" #id_denseA_sup>
          <table class="mata">
            <tr *ngFor="let row of matrixA; let i = index">
              <td *ngFor="let cell of matrixA; let j = index">
                <input type="number" [ngModel]="matrixA[i][j]" (ngModelChange)="onMatrixChange($event, i, j)"  class="inp" *ngIf="i<=j">
              </td>
            </tr>
          </table>
        </div>
        <!-- matrice triangulaire inf-->
        <div class="cont1" style="display: none;" #id_denseA_inf>
          <table class="mata">
            <tr *ngFor="let row of matrixA; let i = index">
              <td *ngFor="let cell of matrixA; let j = index">
                <input type="number" [(ngModel)]="matrixA[i][j]" class="inp" *ngIf="i>=j">
              </td>
            </tr>
          </table>
        </div>
        <!-- matrice bande-->
        <div class="cont1" style="display: none;" #id_bande>
          <table class="mata">
            <tr *ngFor="let row of matrixA; let i = index">
              <td *ngFor="let cell of matrixA; let j = index">
                <input type="number" [(ngModel)]="matrixA[i][j]" class="inp" *ngIf="isWithinBande(i, j) ">
              </td>
            </tr>
          </table>
        </div>
        <!--matrice demi-bande-inf -->
        <div class="cont1" style="display: none;" #id_denseA_bande_inf>
          <table class="mata">
            <tr *ngFor="let row of matrixA; let i = index">
              <td *ngFor="let cell of matrixA; let j = index">
                <input type="number" [(ngModel)]="matrixA[i][j]" class="inp" *ngIf="isWithinBande(i, j) && i>=j">
              </td>
            </tr>
          </table>
        </div>
        <!-- matrice demi-bande-sup-->
        <div class="cont1" style="display: none;" #id_denseA_bande_sup>
          <table class="mata">
            <tr *ngFor="let row of matrixA; let i = index">
              <td *ngFor="let cell of matrixA; let j = index">
                <input type="number" [(ngModel)]="matrixA[i][j]" class="inp" *ngIf="isWithinBande(i, j) && i<=j">
              </td>
            </tr>
          </table>
        </div>
    
        <h3 class="tit_matb">Vecteor B</h3>
       <div class="cont1">
        <table class="matb">
          <tr *ngFor="let cell of matrixA; let i = index">
            <td>
              <input type="number" [(ngModel)]="vectorB[i]" class="inp">
            </td>
          </tr>
        </table>
       </div>
     </div>
    
    </div>
      <button *ngIf="matrixA.length > 0 && vectorB.length > 0" (click)="algo_choix()" class="button_mult">Solve</button>
      </div>
    
     
    
    
    <div *ngIf="resultVector.length > 0" style="display: none;" #id>
      <h3 class="tit_res">Solution</h3>
      <table class="res">
        <tr *ngFor="let cell of resultVector; let i = index">
          <td>
            {{ cell }}
          </td>
        </tr>
      </table>
    </div>
  