
      <!-- <h2>Remplir une Matrice en Angular</h2>
<div>
  <form (ngSubmit)="generateMatrix()">
    <label for="rows">Nombre de lignes:</label>
    <input type="number" id="rows" [(ngModel)]="rows" name="rows">

    <label for="columns">Nombre de colonnes:</label>
    <input type="number" id="columns" [(ngModel)]="columns" name="columns">

    <button type="submit">Générer la matrice</button>
  </form>

  <table *ngIf="matrix.length > 0">
    <tr *ngFor="let row of matrix; let i = index">
      <td *ngFor="let cell of row; let j = index">
        <input type="number" [(ngModel)]="matrix[i][j]">
      </td>
    </tr>
  </table>
</div> -->
<!-- app.component.html -->

<!-- <h2>Remplir une Matrice en Angular</h2>
<div>
  <form [formGroup]="matrixForm" (ngSubmit)="generateMatrix()">
    <label for="rows">Nombre de lignes:</label>
    <input type="number" id="rows" formControlName="rows">

    <label for="columns">Nombre de colonnes:</label>
    <input type="number" id="columns" formControlName="columns">

    <button type="submit" [disabled]="matrixForm.invalid">Générer la matrice</button>
  </form>

  <table *ngIf="matrix.length > 0">
    <tr *ngFor="let row of matrix; let i = index">
      <td *ngFor="let cell of row; let j = index">
        <input type="number" [(ngModel)]="matrix[i][j]">
      </td>
    </tr>
  </table>
</div> -->
<!-- <div>
    <h2>Matrice en Angular</h2>
    <table>
      <tr *ngFor="let row of matrix">
        <td *ngFor="let cell of row">{{ cell }}</td>
      </tr>
    </table>
  </div> -->
  <!-- app.component.html -->
  <!-- <h2>Multiplier Deux Matrices en Angular</h2>
  <div>
    <form [formGroup]="matrixForm" (ngSubmit)="generateMatrices()">
      <label for="rows">Nombre de lignes/colonnes:</label>
      <input type="number" id="rows" formControlName="rows">
      <input type="number" id="columns" formControlName="columns">
      <button type="submit" [disabled]="matrixForm.invalid">Générer les matrices</button>
    </form>
  
    <div *ngIf="matrixA.length > 0 && matrixB.length > 0">
      <h3>Matrice A</h3>
      <table>
        <tr *ngFor="let row of matrixA; let i = index">
          <td *ngFor="let cell of row; let j = index">
            <input type="number" [(ngModel)]="matrixA[i][j]">
          </td>
        </tr>
      </table>
  
      <h3>Matrice B</h3>
      <table>
        <tr *ngFor="let row of matrixB; let i = index">
          <td *ngFor="let cell of row; let j = index">
            <input type="number" [(ngModel)]="matrixB[i][j]">
          </td>
        </tr>
      </table>
  
      <button (click)="multiplyMatrices()">Multiplier les matrices</button>
    </div>
  </div>
  
  <div *ngIf="resultMatrix.length > 0">
    <h3>Résultat</h3>
    <table>
      <tr *ngFor="let row of resultMatrix; let i = index">
        <td *ngFor="let cell of row; let j = index">
          {{ resultMatrix[i][j] }}
        </td>
      </tr>
    </table>
  </div> -->

  <router-outlet></router-outlet>