<div>
    <img  [src]=myimage class="bg-img">
  </div>
     <!-- <button mat-button type="submit"  class="button2" routerLink="matrice">Multiplication Matrice*Matrice</button>
      <button mat-button type="submit"  class="button3" routerLink="vecteur">Multiplication Matrice*Vecteur</button>
      <button mat-button type="submit"  class="button4">Résolution Des Systémes</button> -->
      
      <!-- votre-composant.component.html -->
      <h2 class="titre">Matrix Calculation</h2>
      
      <div class="button-container">
        <b routerLink="matrice">
          <span></span>
          <span></span>
          <span></span>
          <span></span> Matrix ×  Matrix
        </b>
        <b routerLink="vecteur">
          <span></span>
          <span></span>
          <span></span>
          <span></span> Matrix ×  Vector
        </b>
        <b routerLink="resolution">
          <span></span>
          <span></span>
          <span></span>
          <span></span>System Resolution
        </b>
      </div>
      
    
      <!-- <form [formGroup]="matrixForm">
        <div *ngFor="let i of range(matrixRows); let rowIndex = index" class="matrix-row">
          <div *ngFor="let j of range(matrixColumns); let colIndex = index" class="matrix-cell">
            <input type="number" [formControl]="getFormControl(rowIndex, colIndex)" class="matrix-input">
          </div>
        </div>
        <button (click)="submitMatrix()">Submit Matrix</button>
      </form> -->
      
      <!-- <div>
        <h3>Matrix Values:</h3>
        <div *ngFor="let i of range(matrixRows); let rowIndex = index" class="matrix-row">
          <div *ngFor="let j of range(matrixColumns); let colIndex = index" class="matrix-cell">
            {{ getFormControl(rowIndex, colIndex).value }}
          </div>
        </div>
      </div> -->
      
        <div class="profile-picture"><a href="https://fss.rnu.tn/" >
          <img [src]="myicon" alt="Description de l'image"></a>
         </div>
         <!-- <div class="profile-picture2"  #home routerLink="../" routerLinkActive="active">
          <img [src]="myicon" alt="Description de l'image">
         </div>
         <div class="profile-picture3"  #home routerLink="../" routerLinkActive="active">
          <img [src]="myicon" alt="Description de l'image">
         </div>
         <div class="profile-picture4"  #home routerLink="../" routerLinkActive="active">
          <img [src]="myicon" alt="Description de l'image">
         </div> -->
      
      
      <div class="ligne_haute"></div>
      <div class="ligne_bas"></div>
      <footer class="footer footer-color">
        <div class="footer-content">
          <div>
            <p>Front-End Developer</p>
            <ul>
              <li><a href="https://www.linkedin.com/in/melek-khemakhem-a00507247/" target="_blank">Melek Khemakhem</a></li>
              <li><a href="https://www.linkedin.com/in/cheditrabelsi/" target="_blank">Chedi Trabelsi</a></li>
            </ul>
          </div>
          <div>
            <p>Algorithm Developer</p>
            <ul>
              <li><a href="https://www.linkedin.com/in/firas-cherif-762830253/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app&fbclid=IwAR3opQ4NcgnYuKn7yqTP3FkgARoA9x6zS2xpKy7BQJCUso8L423vXGpRX1I" target="_blank">Firas Cherif</a></li>
              <li><a href="https://www.linkedin.com/in/haithem-ben-elbey-aa617b226/" target="_blank">Haithem Ben Elbey</a></li>
            </ul>
          </div>
          <div>
            <p>UI/UX Designer</p>
            <ul>
              <li><a href="https://www.linkedin.com/in/youssef-masmoudi-298522230/" target="_blank">Youssef Masmoudi </a></li>
            </ul>
          </div>
          <div>
            <p>Our Supervisor</p>
            <ul>
              <li><a href="https://www.linkedin.com/in/sirine-marrakchi-5a691a66/" target="_blank">Dr. Sirirne Marrakchi</a></li>
            </ul>
          </div>
        </div>
      </footer>
      <div class="universit">
    
          <li>
            <a href="https://fss.rnu.tn/">Faculty of Sciences of Sfax 2023-2024</a>
          </li>
        
        
    </div>
      